.swiper {
    min-width: 100vw;
    width: 100%;
    height: auto;
}
.banner{
    margin: 0 !important;
    padding: 0 !important;

}

.title_container{
    background-color: #1d1d1d;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.title_container h2{
    font-size: 55px;
}

.swiper-slide{
    display: flex;
    justify-content: center;
}

.swiper-button-prev , .swiper-button-next{
    color: #8a8a8a;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.swiper-button-prev {
    margin-left: 10px;
}

.swiper-button-prev:hover , .swiper-button-next:hover{
    color: #696969;
}

@media only screen and (max-width:1200px) {
    .title_container h2{
        font-size: 45px;
    }
}

@media only screen and (max-width:992px) {
    .swiper-slide img{
        border-radius: 24px;
    }
    .swiper-backface-hidden .swiper-slide{
        background-color: #1d1d1d;
        padding-bottom: 40px;
    }
    .swiper-button-prev , .swiper-button-next{
        display: none !important;
    }
}

@media only screen and (max-width:670px) {
    .swiper-slide{
        padding: 0 20px;
    }
}

@media only screen and (max-width:470px) {
    .title_container h2{
        font-size: 40px;
    }
}

@media only screen and (max-width:380px) {
    .title_container h2{
        font-size: 35px;
    }
}